@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LotteMartHappy';
}
*:focus { outline: none !important; }

button, label, a { user-select: none; }
a, a:hover { color: inherit; text-decoration: none; }
ul, li { list-style: none; }
p { margin-bottom: 0; line-height: 2em; }

.flex-center { display: flex; justify-content: center; align-items: center; }
.flex-around { display: flex; justify-content: space-around; align-items: center; }
.flex-between { display: flex; justify-content: space-between; align-items: center; }
.flex-col { display: flex; flex-direction: column; }
.flex-col-center { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.flex-end { align-self: flex-end; }
.between-end { display: flex; justify-content: space-between; align-items: flex-end; }

.fs-n4 { font-size: 0.75em !important; }
.fs-n3 { font-size: 0.85em !important; }
.fs-n2 { font-size: 0.9em !important; }
.fs-n1 { font-size: 0.95em !important; }

.fs-1 { font-size: 1.1em !important; }
.fs-2 { font-size: 1.2em !important; }
.fs-3 { font-size: 1.3em !important; }
.fs-4 { font-size: 1.4em !important; }
.fs-5 { font-size: 1.5em !important; }
.fs-6 { font-size: 1.6em !important; }
.fs-7 { font-size: 1.7em !important; }
.fs-8 { font-size: 1.8em !important; }
.fs-9 { font-size: 1.9em !important; }

.bold { font-weight: bold; }
.lighter { font-weight: lighter; }

.title { font-size: 1.4em; font-weight: bold; text-align: center; color: #333030; }
.text-ddgray { color: #333333; }
.text-dgray { color: #333030; }
.text-gray { color: #9c836a; }
.text-blue { color: #32435F; }

.t-head { border-bottom: 3px solid #52616a; }
.t-head, .t-row { display: flex; align-items: center; text-align: center; }
.t-row { min-height: 50px; padding: 0.5em 0; border-bottom: 1px solid #ddd; }
.t-row span { color: #52616a; }

.cell-10 { max-width: 10%; flex: 0 0 10%; }
.cell-20 { max-width: 20%; flex: 0 0 20%; }
.cell-30 { max-width: 30%; flex: 0 0 30%; }
.cell-40 { max-width: 40%; flex: 0 0 40%; }
.cell-50 { max-width: 50%; flex: 0 0 50%; }
.cell-60 { max-width: 60%; flex: 0 0 60%; }
.cell-70 { max-width: 70%; flex: 0 0 70%; }
.cell-80 { max-width: 80%; flex: 0 0 80%; }
.cell-90 { max-width: 90%; flex: 0 0 90%; }
.cell-15 { max-width: 15%; flex: 0 0 15%; }
.cell-25 { max-width: 25%; flex: 0 0 25%; }

.pos-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.background { background-position: 65%; background-repeat: no-repeat; background-size: cover; }
.image { width: 100%; height: 100%; object-fit: cover; }
.background-image { width: 100%; height: 100%; position: absolute; left: 0; top: 0; object-fit: cover; filter: brightness(50%); }

.gray-btn {
    background-color: #333030;

    color: #fff;

    position: relative;
    transition: 1s;

    padding: .4em 1.5em;
    border: none;
    cursor: pointer;
}
.gray-btn:hover { background: none; color: #333030; font-weight: bold; }
.gray-btn::before, .gray-btn::after { 
    width: 0;
    height: 2px;
    background-color: #333030;

    position: absolute;
    right: 0; top: 0;
    transition: 1s;

    content: '';
}
.gray-btn::after { right: inherit; top: inherit; left: 0; bottom: 0; }
.gray-btn:hover::before, .gray-btn:hover::after { width: 100%; }
.gray-btn i { transition: 1s; }
.gray-btn:hover i { color: #333030; }

.card { box-shadow: 0 39px 67px 3px hsla(0,0%,67.5%,.3); border-radius: 10px !important; cursor: pointer; }
.card-header { border-radius: 10px 10px 0 0 !important; overflow: hidden; }
.card-header > img { height: 193px; transition: 1s; border-radius: 10px 10px 0 0; filter: brightness(70%); }
.card:hover img { transform: scale(1.1); filter: brightness(100%); }
.card-footer { width: 80%; margin: 0 auto; background: none !important; }

.header h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 15px;
    color: #9c836a;

    display: inline-block;

    padding: .2em 0;
}
.header h3 { font-size: 30px; }
.header h4 { font-size: 15px; }
.header span { color: #333333; font-weight: 700; }
.header i { font-size: 1.9em; color: #ddd; opacity: .8; }
.header p { font-size: .5em; opacity: .5; font-weight: 500; }

.wrap { width: calc(100% - 5vw); margin: 0 auto; padding: 0 2em; }
header { height: 80px; background-color: #fff; position: relative; z-index: 1000; }
.logo { width: 170px; height: 55px; background-image: url(../images/logo.png); }

.nav-background { width: 100vw; height: 50px; background-color: #242424; border-top: 1px solid rgba(255, 255, 255, 0.4); position: fixed; left: 50%; top: 80px; transition: .5s; transform: translateX(-50%); visibility: hidden; opacity: 0; }
.nav-item { padding: 0 1.2em; }
.nav-item a { position: relative; }
.nav-item a::before { 
    width: 0;
    height: 1.5px;
    background-color: #fff;

    position: absolute; 
    left: 50%; bottom: -7px;
    transition: .2s;
    z-index: 1000;

    content: '';
}
.nav-item a:hover::before { width: 100%; left: 0%; }
.auth > a { padding: 0 .5em; }

.drop { height: 80px; position: relative; line-height: 80px; }
.drop-menu {
    width: 100vw;
    height: 0;

    line-height: 55px;
    color: #fff;

    position: fixed;
    left: 0; top: 75px;
    transition: .5s;

    visibility: hidden;
    opacity: 0;
}
.drop:hover >.drop-menu, .drop-menu:hover {
    height: 50px;
    visibility: visible;
    opacity: .8;
    z-index: 1000;
}

header:hover { background-color: #000000; color: #fff; opacity: .8; }
header:hover .logo { background-image: url(../images/logo-dark.png); }
header:hover .nav-background { visibility: visible; opacity: 1; }
header:hover .icon-bar > span { border-top: 2px solid #fff; }

.icon-bar { 
    width: 2.2em;
    height: 2.2em;

    display: block;
    transition: .5s;

    margin-bottom: 0;
    cursor: pointer;
}
.icon-bar > span {
    display: block;

    margin-top: calc(1.8em / 3);
    border-top: 2px solid rgba(41, 40, 40, 0.67);
    margin-left: auto;
}
.icon-bar > span:nth-child(1) { width: 2.2em; margin-top: 5px; }
.icon-bar > span:nth-child(2) { width: 1.3em; }
.icon-bar > span:nth-child(3) { width: 1.7em; }

#open-aside:checked ~ header .icon-bar { transform: rotate(-45deg); }

aside {
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0; top: 80px;
    transition: .5s;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    border-top: 2px solid #333;
}
.aside-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    left: 0; top: 0;
}
.aside-content {
    width: 100%;
    height: 100%;
    background-color: #fff;

    position: absolute;
    left: 100%; top: 0;
    transition: .5s;

    padding-top: 10px;
}
#open-aside:checked ~ aside { opacity: 1; visibility: visible; }
#open-aside:checked ~ aside > .aside-content { left: 20%; }

#visual { height: 700px; position: relative; }
.visual-text > div { width: 100vw; }
.visual-text p { line-height: 25px; }
.visual-btn {
    background: none;
    color: #fff;
    transition: 0.3s;
    padding: .5em 1.2em;
    border: 1px solid #fff;
    border-radius: 30px;
}
.visual-btn:hover { background-color: #fff; color: #333333; }

#sub-visual { height: 350px; position: relative; }

@media (max-width: 768px) {
    .wrap { width: 100vw; }
    header { position: fixed; }
    .visual-text h1 { font-size: 2.2em; }
}

#calendar { background-color: #f7f7f7; }
#calendar .content-header { background-color: #9c836a; }
#calendar .content-header i { font-size: 1.5em; }
#calendar button { border: 1px solid #000; padding: 0.4em; }
#calendar button:hover { color: #9c836a; border: 1px solid #9c836a; }
#calendar .content-footer { border-top: 1px solid #ddd; }
#calendar .content-footer i { font-size: 2em; }
#calendar .content-footer a { font-size: 1.28em; color: #9c836a; padding: 0 .25em; }
#calendar .content-footer a.active { color: #333030; font-weight: bold; }

#info .row:nth-child(1) { border-top: 1px solid #000; border-bottom: 1px solid #ddd; }

#room, #review { overflow: hidden; }
#room, #review { height: 0; visibility: hidden; transform: translateY(-30px); transition: 1s; }

#view-room:checked ~ #room { height: auto; visibility: visible; transform: translateY(0px); }
#view-review:checked ~ #review { height: auto; visibility: visible; transform: translateY(0px); }

footer { height: 60px; background-color: rgb(29, 29, 29); color: #fff; }