@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label, a, button { user-select: none; }
a, a:hover { color: inherit; text-decoration: none; }
ul, li { list-style: none; }
p { margin-bottom: 0; line-height: 2em; }

.flex-center { display: flex; justify-content: center; align-items: center; }
.flex-around { display: flex; justify-content: space-around; align-items: center; }
.flex-between { display: flex; justify-content: space-between; align-items: center; }
.flex-col { display: flex; flex-direction: column; }
.flex-end { align-self: end; }

.fs-n4 { font-size: 0.75em; }
.fs-n3 { font-size: 0.85em; }
.fs-n2 { font-size: 0.9em; }
.fs-n1 { font-size: 0.95em; }

.fs-1 { font-size: 1.1em; }
.fs-2 { font-size: 1.2em; }
.fs-3 { font-size: 1.3em; }
.fs-4 { font-size: 1.4em; }
.fs-5 { font-size: 1.5em; }
.fs-6 { font-size: 1.6em; }
.fs-7 { font-size: 1.7em; }
.fs-8 { font-size: 1.8em; }
.fs-9 { font-size: 1.9em; }

.bold { font-weight: bold; }
.lighter { font-weight: lighter; }

.title { font-size: 1.8em; font-weight: bold; }

.t-head { border-bottom: 3px solid #3e4149; }
.t-head, .t-row { display: flex; align-items: center; border-bottom: 1px solid #ddd; }
.t-row { min-height: 50px; padding: .5em 0; border-bottom: 1px solid #ddd; }

.cell-10 { max-width: 10%; flex: 0 0 10%; }
.cell-20 { max-width: 20%; flex: 0 0 20%; }
.cell-30 { max-width: 30%; flex: 0 0 30%; }
.cell-40 { max-width: 40%; flex: 0 0 40%; }
.cell-50 { max-width: 50%; flex: 0 0 50%; }
.cell-60 { max-width: 60%; flex: 0 0 60%; }
.cell-70 { max-width: 70%; flex: 0 0 70%; }
.cell-80 { max-width: 80%; flex: 0 0 80%; }
.cell-90 { max-width: 90%; flex: 0 0 90%; }
.cell-15 { max-width: 15%; flex: 0 0 15%; }
.cell-25 { max-width: 25%; flex: 0 0 25%; }
.cell-35 { max-width: 35%; flex: 0 0 35%; }

.pos-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.background { background-repeat: no-repeat; background-size: cover; }
.image { width: 100%; height: 100%; object-fit: cover; }
.background-image { width: 100%; height: 100%; position: absolute; object-fit: cover; filter: brightness(70%); }

.brown-btn { 
    background: none;

    color: #222;

    position: relative;
    transition: .5s;

    padding: .4em 1.5em;
    border: 1px solid #222;
    overflow: hidden;
}
.brown-btn::before { 
    width: 200%;
    height: 200%;
    background-color: #fff;

    position: absolute;
    transition: .5s;
    transform: translateX(-120%) skew(-17deg);
    
    content: '';
}
.brown-btn:hover { color: #fff; background-color: #fff; }
.brown-btn:hover::before { left: 150%; }

header { height: 80px; padding: 0 30px; }

.nav-item { color: #222; padding: 0 1.1em; }
.nav-item a { position: relative; }
.nav-item a::before { 
    width: 0;
    height: 1.5px;
    background-color: #fff;

    position: absolute;
    left: 50%; bottom: -7px;
    transition: .5s;

    content: '';
}
.nav-item a:hover { color: #32435F; }
.nav-item a:hover::before { width: 100%; left: 0; }

.icon-bar {
    width: 2.2em;
    height: 2.2em;

    display: block;
    transition: .5s;

    margin-bottom: 0;
    cursor: pointer;
}
.icon-bar > span { 
    display: block;

    margin-top: calc(1.8em / 3);
    margin-left: auto;
    border-top: 1px solid rgba(40, 40, 40, .67);
}
.icon-bar > span:nth-child(1) { width: 2.2em; margin-top: 5px; }
.icon-bar > span:nth-child(2) { width: 1.3em; }
.icon-bar > span:nth-child(3) { width: 1.7em; }

aside {
    width: 100%;
    height: 100%;

    position: fixed;
    transition: .5s;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
}
.aside-background {
    width: 100%;
    height: 100%;
    background-color: #000b;

    position: absolute;
}
.aside-content {
    width: 100%;
    height: 100%;
    background-color: #fff;

    position: absolute;
    left: 100%;
    transition: .5s;
}
#open-aside:checked ~ aside { opacity: 1; visibility: visible; }
#open-aside:checked ~ aside > .aside-content { left: 20%; }

#visual { height: 720px; position: relative; overflow: hidden; margin-top: 40px; box-shadow: 0 10px 20px #000c; }
.visual-background { height: 650px; background: linear-gradient(150deg, #32435F, #52616a); position: absolute; }
.visual-image { width: calc(95vw * 3); height: 100%; position: absolute; display: flex; }
.visual-image > img { width: 95vw; height: 100%; object-fit: cover; filter: brightness(70%); }
.visual-text { text-align: center; color: #fff; }
#sub-visual { height: 350px; position: relative; }

.sidebar {
    height: 100%;

    display: flex;
    flex-direction: column;

    position: absolute;
    left: 5vw;
}
.sidebar::after {
    width: 0.5px;
    height: 100%;
    background-color: #fffb;

    position: absolute;

    content: '';
}
.sidebar::before {
    width: 25px;
    height: 25px;

    position: relative;
    top: 38.2%;
    transform: translateX(-50%);

    border: 1px solid #fff;

    content: '';
}
.label {  
    width: 25px;
    height: 25px;

    position: relative;
    transform: translateX(-50%);

    margin: 20px 0;
}
.label:nth-child(1) { margin-top: 250px; }
.label::before {
    color: #fff;

    position: absolute;
    left: 150%;
}
.label:nth-child(1)::before { content: 'image1'; }
.label:nth-child(2)::before { content: 'image2'; }
.label:nth-child(3)::before { content: 'image3'; }
.label span {
    width: 8px;
    height: 8px;
    background-color: #fff;
}   

@keyframes move {
    0%      { left: 0; }
    8.333%  { left: 0; }

    33.222% { left: -100%; }
    41.666% { left: -100%; }

    66.555% { left: -200%; }
    74.888% { left: -200%; }

    100%    { left: 0; } 
}

.visual-image {
    animation-name: move;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-delay: calc(-12s + 1s);
}

@keyframes font-1 {
    0%      { width: 650px; opacity: 1; }
    8.333%  { width: 650px; opacity: 1; }

    33.222% { width: 650px; opacity: 0; }
    41.666% { width: 650px; opacity: 0; }

    66.555% { width: 0; opacity: 0; }
    74.888% { width: 0; opacity: 0; }

    100%    { width: 650px; opacity: 1; } 
}
@keyframes font-2 {
    0%      { width: 0; opacity: 0; }
    8.333%  { width: 0; opacity: 0; }

    33.222% { width: 650px; opacity: 1; }
    41.666% { width: 650px; opacity: 1; }

    66.555% { width: 650px; opacity: 0; }
    74.888% { width: 650px; opacity: 0; }

    100%    { width: 0; opacity: 0; } 
}
@keyframes font-1 {
    0%      { width: 650px; opacity: 0; }
    8.333%  { width: 650px; opacity: 0; }

    33.222% { width: 0; opacity: 0; }
    41.666% { width: 0; opacity: 0; }

    66.555% { width: 650px; opacity: 1; }
    74.888% { width: 650px; opacity: 1; }

    100%    { width: 650px; opacity: 0; } 
}

.visual-text {
    width: 0;
    height: 180px;

    animation-direction: 12s;
    animation-iteration-count: infinite;
    animation-delay: calc(-12s + 1s);

    overflow: hidden;
    margin-top: 30px;
}
.visual-text-1 { animation-name: font-1; }
.visual-text-2 { animation-name: font-2; }
.visual-text-3 { animation-name: font-3; }

@keyframes side {
    0%      { top: 38.2%; }
    8.333%  { top: 38.2%; }

    33.222% { top: 47.2%; }
    41.666% { top: 47.2%; }

    66.555% { top: 56.2%; }
    74.888% { top: 56.2%; }

    100%    { top: 38.2%; } 
}

.sidebar::before {
    animation-name: side;
    animation-direction: 12s;
    animation-iteration-count: infinite;
    animation-delay: calc(-12s + 1s);
}

@media (max-width: 768px) {
    header { padding: 0 1.1em; }
    .visual-text h1 { font-size: 1.5em; }

    @keyframes side {
        0%      { top: 66%; }
        8.333%  { top: 66%; }
    
        33.222% { top: 75%; }
        41.666% { top: 75%; }
    
        66.555% { top: 84%; }
        74.888% { top: 84%; }
    
        100%    { top: 66%; } 
    }
}