@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "맑은 고딕" sans-serif;
}
*:focus { outline: none !important; }

a, label, button { user-select: none; }
ul, li { list-style: none; }
a, a:hover { text-decoration: none; color: inherit; }
p { margin-bottom: 0; line-height: 2em; }

.flex-center { display: flex; justify-content: center; align-items: center; }
.flex-between { display: flex; justify-content: space-between; align-items: center; }
.flex-around { display: flex; justify-content: space-around; align-items: center; }
.flex-col { display: flex; flex-direction: column; }
.flex-col-center { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.flex-end { align-self: flex-end; }
.between-end { display: flex; justify-content: space-between; align-items: flex-end; }

.fs-n4 { font-size: 0.75em; }
.fs-n3 { font-size: 0.85em; }
.fs-n2 { font-size: 0.9em; }
.fs-n1 { font-size: 0.95em; }

.fs-1 { font-size: 1.1em; }
.fs-2 { font-size: 1.2em; }
.fs-3 { font-size: 1.3em; }
.fs-4 { font-size: 1.4em; }
.fs-5 { font-size: 1.5em; }
.fs-6 { font-size: 1.6em; }
.fs-7 { font-size: 1.7em; }
.fs-8 { font-size: 1.8em; }
.fs-9 { font-size: 1.9em; }

.bold { font-weight: bold; }
.lighter { font-weight: lighter; }

.title { font-size: 1.4em; font-weight: bold; text-align: center; color: #32435F; }
.text-ddblue { color: #32435F; }
.text-dblue { color: #1e2022; }
.text-blue { color: #52616a; }
.text-gray { color: #8d8d8d; }

.t-head { border-bottom: 3px solid #52616a; }
.t-head, .t-row { display: flex; align-items: center; text-align: center; }
.t-row { min-height: 50px; padding: 0.5em 0; border-bottom: 1px solid #ddd; }
.t-row span { color: #52616a; }

.cell-10 { max-width: 10%; flex: 0 0 10%; }
.cell-20 { max-width: 20%; flex: 0 0 20%; }
.cell-30 { max-width: 30%; flex: 0 0 30%; }
.cell-40 { max-width: 40%; flex: 0 0 40%; }
.cell-50 { max-width: 50%; flex: 0 0 50%; }
.cell-60 { max-width: 60%; flex: 0 0 60%; }
.cell-70 { max-width: 70%; flex: 0 0 70%; }
.cell-80 { max-width: 80%; flex: 0 0 80%; }
.cell-90 { max-width: 90%; flex: 0 0 90%; }
.cell-15 { max-width: 15%; flex: 0 0 15%; }
.cell-25 { max-width: 25%; flex: 0 0 25%; }

.pos-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.background { background-position: 65%; background-repeat: no-repeat; background-size: cover; }
.image { width: 100%; height: 100%; position: absolute; left: 0; top: 0; object-fit: cover; }
.background-image { width: 100%; height: 100%; position: absolute; left: 0; top: 0; object-fit: cover; filter: brightness(50%); }

canvas { border: 1px solid #ddd; }
.progress-bar { background-color: #52616a !important; }
#toast-container { position: fixed; right: 5vw; bottom: 10vh; z-index: 10000; }

.blue-btn { 
    background-color: #32435F;

    color: #fff;

    position: relative;
    transition: 1s;

    padding: 0.4em 1.5em;
    border: none;
    cursor: pointer;
}
.blue-btn:hover { background: none; color: #32435F; }
.blue-btn::before, .blue-btn::after { 
    width: 0;
    height: 2px;
    background-color: #32435F;

    position: absolute;
    right: 0; top: 0;
    transition: 1s;

    content: '';
}
.blue-btn::after { right: inherit; top: inherit; left: 0; bottom: 0; }
.blue-btn:hover::before, .blue-btn:hover::after { width: 100%; }

.header-btn { 
    background-color: #fff;

    color: #333;
    font-weight: lighter;
    line-height: 30px;

    transition: .5s;

    padding: 0.4em 1.5em;
    border: 1px solid #333;
    border-radius: 5px;
}
.header-btn:hover { background-color: #32435F; color: #fff; }
.btn-filled:hover { background-color: #52616a; color: #fff; }

.header h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 30px;

    display: inline-block;

    padding: .2em 0;
}
.header span { color: #1e2022; font-weight: 700; }
.header i { font-size: 1.9em; color: #8d8d8d; opacity: .8; }
.header p { font-size: .5em; opacity: .5; font-weight: 500; }

header { background-color: #fff; position: relative; z-index: 1000; }
.header-top { height: 30px; }
.header-bottom { height: 80px; }
header .nav-item { padding: 0 1.2em; }
header .nav-item:hover { font-weight: bold; }

.icon-bar { 
    width: 2em;
    height: 2em;

    display: block;

    margin-bottom: 0;
    cursor: pointer;
}
.icon-bar > span {
    display: block;

    margin-top: calc(2em / 3);
    border-top: 1px solid rgb(71, 71, 71, .67);
    margin-left: auto;
}
.icon-bar > span:nth-child(1) { width: 2em; margin-top: 5px; }
.icon-bar > span:nth-child(2) { width: 1.2em; }
.icon-bar > span:nth-child(3) { width: 1.5em; }

@media (max-width: 768px) {
    .header-bottom { padding: 0 1em; }
    .visual-text { left: 5vw !important; }
}

aside {
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0; top: 0;
    transition: .5s;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
}
.aside-background { 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    left: 0; top: 0;
}
.aside-content {
    width: 100%;
    height: 100%;
    background-color: #fff;

    position: absolute;
    left: 100%; top: 0;
    z-index: 100;
    transition: .5s;

    padding-top: 100px;
}
#open-aside:checked ~ aside { opacity: 1; visibility: visible; }
#open-aside:checked ~ aside > .aside-content { left: 20%; }

#visual { height: 550px; position: relative; background-image: url(../images/visual.jpg); }
.visual-text { position: absolute; left: 10vw; top: 13vh; }
.visual-text h3 { font-size: 2.5em; color: #52616a; }
.visual-text p { line-height: 30px; }

#sub-visual { height: 400px; position: relative; }

#best-fund { background-color: #f7f7f7; }

footer { height: 60px; background-color: rgb(49, 49, 49); color: #fff; }