@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: 'Segoe UI', sans-serif;
}

label, a, button { user-select: none; }
a, a:hover { color: inherit; text-decoration: none; }
ul, li { list-style: none; }
p { margin-bottom: 0; line-height: 1.7em; }

.wrap { width: calc(100% - 5vw); margin: 0 auto; }

.flex-center { display: flex; justify-content: center; align-items: center; }
.flex-between { display: flex; justify-content: space-between; align-items: center; }
.flex-around { display: flex; justify-content: space-around; align-items: center; }
.flex-col { display: flex; flex-direction: column; }
.flex-col-center { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.between-end { display: flex; justify-content: space-between; align-items: flex-end; }
.flex-end { align-self: flex-end; }

.fs-n4 { font-size: 0.75em !important; }
.fs-n3 { font-size: 0.85em !important; }
.fs-n2 { font-size: 0.9em !important; }
.fs-n1 { font-size: 0.95em !important; }

.fs-1 { font-size: 1.1em !important; }
.fs-2 { font-size: 1.2em !important; }
.fs-3 { font-size: 1.3em !important; }
.fs-4 { font-size: 1.4em !important; }
.fs-5 { font-size: 1.5em !important; }
.fs-6 { font-size: 1.6em !important; }
.fs-7 { font-size: 1.7em !important; }
.fs-8 { font-size: 1.8em !important; }
.fs-9 { font-size: 1.9em !important; }

.bold { font-weight: bold; }
.lighter { font-weight: lighter; }

.title { color: #32435F; font-size: 1.8em; font-weight: bold; }
.text-ddblue { color: #32435F; }
.text-dblue { color: #1e2022; }
.text-blue { color: #52616a; }
.text-gray { color: #8d8d8d; }

.t-head { border-bottom: 3px solid #3e4149; }
.t-head, .t-row { display: flex; align-items: center; text-align: center; }
.t-row { min-height: 50px; padding: 0.5em 0; border-bottom: 1px solid #ddd; }
.t-row span { color: #3e4149; }

.cell-10 { max-width: 10%; flex: 0 0 10%; }
.cell-20 { max-width: 20%; flex: 0 0 20%; }
.cell-30 { max-width: 30%; flex: 0 0 30%; }
.cell-40 { max-width: 40%; flex: 0 0 40%; }
.cell-50 { max-width: 50%; flex: 0 0 50%; }
.cell-60 { max-width: 60%; flex: 0 0 60%; }
.cell-70 { max-width: 70%; flex: 0 0 70%; }
.cell-80 { max-width: 80%; flex: 0 0 80%; }
.cell-90 { max-width: 90%; flex: 0 0 90%; }
.cell-15 { max-width: 15%; flex: 0 0 15%; }
.cell-25 { max-width: 25%; flex: 0 0 25%; }

.pos-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.background { background-repeat: no-repeat; background-size: cover; }
.image { width: 100%; height: 100%; object-fit: cover; }
.background-image { width: 100%; height: 100%; position: absolute; object-fit: cover; filter: brightness(50%); }

.blue-btn {
    background: none;

    color: #222;

    position: relative;
    transition: 1s;

    padding: .4em 1.5em;
    border: 1px solid #222;
    overflow: hidden;
}
.blue-btn:before {
    width: 200%;
    height: 200%;
    background-color: #32435F;

    position: absolute;
    left: 0%; top: 0;
    z-index: -100;
    transition: 1s;
    transform: translateX(-120%) skewX(-17.62deg);

    content: '';
}
.blue-btn:hover { color: #fff; border: 1px solid #32435F;}
.blue-btn:hover::before { left: 150%; }

.header { transform: translateX(-18px); }
.header h3 { font-size: 30px; color: #3e4149; font-weight: bold; }
.header h4 { font-size: 15px; color: #32435F; font-weight: bold; }

header { height: 100px; }

.nav-item { padding: 0 .8em; color: #3e4149; }
.nav-item:nth-child(3) { border-right: 1px solid #ddd; }
.nav-item a { position: relative; }
.nav-item a::before { 
    width: 0;
    height: 1.5px;
    background-color: #32435F;

    position: absolute;
    left: 50%; bottom: -7px;
    transition: .2s;
    z-index: 1000;

    content: '';
}
.nav-item a:hover { color: #32435F; }
.nav-item a:hover::before { width: 100%; left: 0; }

.auth { padding: 0 .3em; }
.auth a { padding: .5em 1em; color: #222; border-radius: 10px; }
.auth:nth-child(4) a { background-color: #ddd; }

.icon-bar {
    width: 2.2em;
    height: 2.2em;

    display: block;
    transition: .5s;

    margin-bottom: 0;
    cursor: pointer;
}
.icon-bar > span {
    display: block;

    margin-top: calc(1.8em / 3);
    border-top: 2px solid rgba(41, 40, 40, 0.67);
    margin-left: auto;
}
.icon-bar > span:nth-child(1) { width: 2.2em; margin-top: 5px; }
.icon-bar > span:nth-child(2) { width: 1.3em; }
.icon-bar > span:nth-child(3) { width: 1.7em; }
#open-aside:checked ~ header .icon-bar { transform: rotate(-45deg); }

aside {
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0; top: 100px;
    transition: .5s;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
    border-top: 2px solid #333;
}
.aside-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    left: 0; top: 0;
}
.aside-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    
    position: absolute;
    left: 100%; top: 0;
    transition: .5s;

    padding-top: 10px;
}
#open-aside:checked ~ aside { opacity: 1; visibility: visible; }
#open-aside:checked ~ aside > .aside-content { left: 20%; }

#visual { height: 750px; position: relative; overflow: hidden; border-radius: 0 50px; }
.visual-image { width: 300%; height: 100%; position: absolute; left: 0; }
.visual-image > img { width: calc(100% / 3); height: 100%; object-fit: cover; filter: brightness(70%); }
.visual-text { text-align: center; color: #fff; }
.visual-btn {
    background: none;

    color: #fff;

    transition: 0.3s;

    padding: .6em 1.2em;
    border: 1px solid #fff;
    border-radius: 30px;
}
.visual-btn:hover { background-color: #fff; color: #191919; }

#sub-visual { height: 350px; position: relative; }

@media (max-width: 768px) {
    .wrap { width: 100vw; }
    header { padding: 0 1.4em; }
    .visual-text > h1 { font-size: 1.7em; } 
}

footer { height: 50px; background-color: rgb(58, 58, 58); color: #fff; line-height: 50px; }