@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri", "나눔고딕", sans-serif;
    color: #333;
}
ol, ul { list-style: none; }
a, label, button { cursor: pointer; }
a, a:hover { color: inherit; text-decoration: none; }
p { word-break: keep-all; line-height: 1.8em; }
hr { width: 100%; height: 1px; border: none; background: #ddd; }

.wrap { max-width: calc(100% - 80px); margin: 0 auto; }
.container { max-width: 1140px; margin: 0 auto; padding: 0 20px; }
.padding { padding-top: 100px; padding-bottom: 100px; }

/* HEADER */

header {
    width: 100%;
    height: 100px;
    z-index: 100;
    padding-top: 10px;
    background-color: #fff;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav .nav-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #888;
}

nav .nav-item {
    width: 180px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav .nav-item > a {
    font-size: 0.9rem;
    color: #555;
    position: relative;
    transition: color 0.3s;
    font-weight: bold;
}

nav .nav-item > a::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    margin-top: 5px;
    background-color: #2ca2d1;
    transition: width 0.3s;
}

nav .sub {
    background-color: #fff;
    position: absolute;
    left: calc(50% - 90px);
    top: calc(100% + 20px);
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}
nav .sub::before {
    content: '';
    position: absolute;
    left: 0;
    top: -20px;
    height: 20px;
    width: 100%;
}
nav .sub::after {
    content: '';
    position: absolute;
    left: 50%;
    top: -5px;
    z-index: -1;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    transform-origin: center center;
}

nav .sub a {
    display: inline-block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 0.85rem;
    text-align: center;
    color: #555;
}
nav .sub a:not(:first-child) { border-top: 1px solid #eee; }

.nav-item:hover > a { color: #2ca2d1; }
.nav-item:hover > a::after { width: 100%; }
.nav-item:hover .sub {
    transform: translateY(0);
    opacity: 1;
    transition: 0.3s;
    pointer-events: all;
}
.sub a:hover {
    background-color: #f8f8f8;
    color: #2ca2d1;
}



.auth-area a {
    color: #888;
    font-size: 0.85rem;
}

.auth-area a:hover { color: #333; }

/* /HEADER */

/* VISUAL */
.visual {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.visual.sub {
    height: 300px;
}

/* VISUAL - images */

.visual .images img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    filter: blur(10px);
}

.visual .images, .visual .images img {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
}

.visual .images {
    background-color: #000;
    filter: brightness(50%);
}

.visual .images img {
    object-fit: cover;
    object-position: center top;
}

/* VISUAL - texts */

.visual .texts {
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    height: 10rem;
    overflow: hidden;
}

.visual .text-group {
    position: absolute;
    width: 100%;
    height: 100%;
}

.visual p {
    line-height: 1.7em;
}

/* VISUAL - buttons */
.visual .buttons {
    width: calc(8px * 3 + 20px * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

.visual .buttons button {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #fffa;
    background-color: transparent;
}

.visual .buttons button::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #fffa;
    opacity: 0;
    transition: 0.4s;
}

.visual .buttons button.active {
    background-color: #fff;
    border: none;
}

.visual .buttons button.active::after {
    opacity: 1;
    width: 25px;
    height: 25px;
}

/* /VISUAL */

/* FOOTER */

footer {
    padding: 40px 0 30px;
    background-color: #222;
}

/* /FOOTER */


/* COMMON */
.pre-line { white-space: pre-line; }
.normal-line { white-space: normal; }

.fit-cover { object-fit: cover; }
.fit-contain { object-fit: contain; }

.float-left { float: left; }
.float-right { float: right; }
.clear-both { clear: both; }

.position-absolute { position: absolute; }
.position-relative { position: relative; }
.position-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) }

.d-none { display: none; }
.d-block { display: block; }
.d-inline-block { display: inline-block; }
.d-inline-flex { display: inline-flex; }

.d-flex { display: flex; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }
.align-items-start { align-items: flex-start; }
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }

.flex-wrap { flex-wrap : wrap; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }

.flex-center {
    display: flex; justify-content: center; align-items: center;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-shadow { text-shadow: 0 1px 5px #000a; }

.border { border: 1px solid; }
.border-top { border-top: 1px solid #555; }
.border-bottom { border-bottom: 1px solid #555; }
.border-left { border-left: 1px solid #555; }
.border-right { border-right: 1px solid #555; }

.bg-white { background-color: #fff; }
.bg-black { background-color: #333; }
.bg-pale-white { background-color: #fafafa; }
.bg-pale-black { background-color: #555; }
.bg-muted { background-color: #fafafa; }
.bg-blue { background-color: #2ca2d1; }
.bg-green { background-color: #2ab79f; }

.text-white { color: #fff; }
.text-black { color: #333; }
.text-pale-white { color: #fffb; }
.text-pale-black { color: #555; }
.text-muted { color: #aaa; }
.text-blue { color: #2ca2d1; }
.text-green { color: #2ab79f; }

.border-white { border-color: #fff; }
.border-black { border-color: #333; }
.border-pale-white { border-color: #e1e1e1; }
.border-pale-black { border-color: #555; }
.border-muted { border-color: #888; }
.border-blue { border-color: #2ca2d1; }
.border-green { border-color: #2ab79f; }

.font-weight-bolder { font-weight: bolder; }
.font-weight-bold { font-weight: bold; }
.font-weight-lighter { font-weight: lighter; }


.wx-30 { width: 30px; }
.wx-40 { width: 40px; }
.wx-50 { width: 50px; }
.wx-60 { width: 60px; }
.wx-80 { width: 80px; }
.wx-100 { width: 100px; }
.wx-200 { width: 200px; }
.wx-300 { width: 300px; }
.wx-400 { width: 400px; }
.wx-500 { width: 500px; }

.hx-30 { height: 30px; }
.hx-40 { height: 40px; }
.hx-50 { height: 50px; }
.hx-60 { height: 60px; }
.hx-80 { height: 80px; }
.hx-100 { height: 100px; }
.hx-150 { height: 150px; }
.hx-200 { height: 200px; }
.hx-300 { height: 300px; }
.hx-400 { height: 400px; }
.hx-500 { height: 500px; }

.w-100 { width: 100%; }
.h-100 { height: 100%; }

.fx-n4 { font-size: 0.8rem!important; }
.fx-n3 { font-size: 0.85rem!important; }
.fx-n2 { font-size: 0.9rem!important; }
.fx-n1 { font-size: 0.95rem!important; }

.fx-1 { font-size: 1rem!important; }
.fx-2 { font-size: 1.1rem!important; }
.fx-3 { font-size: 1.2rem!important; }
.fx-4 { font-size: 1.3rem!important; }
.fx-5 { font-size: 1.5rem!important; }
.fx-6 { font-size: 1.7rem!important; }
.fx-7 { font-size: 2rem!important; }
.fx-8 { font-size: 2.5rem!important; }
.fx-9 { font-size: 3rem!important; }


.m-0 { margin: 0!important; }
.m-1 { margin: 5px!important; }
.m-2 { margin: 10px!important; }
.m-3 { margin: 15px!important; }
.m-4 { margin: 25px!important; }
.m-5 { margin: 50px!important; }

.my-0 { margin-top: 0!important; margin-bottom: 0!important; }
.my-1 { margin-top: 5px!important; margin-bottom: 5px!important; }
.my-2 { margin-top: 10px!important; margin-bottom: 10px!important; }
.my-3 { margin-top: 15px!important; margin-bottom: 15px!important; }
.my-4 { margin-top: 25px!important; margin-bottom: 25px!important; }
.my-5 { margin-top: 50px!important; margin-bottom: 50px!important; }

.mx-auto { margin: 0 auto!important; }
.mx-0 { margin-right: 0!important; margin-left: 0!important; }
.mx-1 { margin-right: 5px!important; margin-left: 5px!important; }
.mx-2 { margin-right: 10px!important; margin-left: 10px!important; }
.mx-3 { margin-right: 15px!important; margin-left: 15px!important; }
.mx-4 { margin-right: 25px!important; margin-left: 25px!important; }
.mx-5 { margin-right: 50px!important; margin-left: 50px!important; }

.mt-0 { margin-top: 0!important; }
.mt-1 { margin-top: 5px!important; }
.mt-2 { margin-top: 10px!important; }
.mt-3 { margin-top: 15px!important; }
.mt-4 { margin-top: 25px!important; }
.mt-5 { margin-top: 50px!important; }

.ml-0 { margin-left: 0!important; }
.ml-1 { margin-left: 5px!important; }
.ml-2 { margin-left: 10px!important; }
.ml-3 { margin-left: 15px!important; }
.ml-4 { margin-left: 25px!important; }
.ml-5 { margin-left: 50px!important; }

.mb-0 { margin-bottom: 0!important; }
.mb-1 { margin-bottom: 5px!important; }
.mb-2 { margin-bottom: 10px!important; }
.mb-3 { margin-bottom: 15px!important; }
.mb-4 { margin-bottom: 25px!important; }
.mb-5 { margin-bottom: 50px!important; }

.mr-0 { margin-right: 0!important; }
.mr-1 { margin-right: 5px!important; }
.mr-2 { margin-right: 10px!important; }
.mr-3 { margin-right: 15px!important; }
.mr-4 { margin-right: 25px!important; }
.mr-5 { margin-right: 50px!important; }


.p-0 { padding: 0!important; }
.p-1 { padding: 5px!important; }
.p-2 { padding: 10px!important; }
.p-3 { padding: 15px!important; }
.p-4 { padding: 25px!important; }
.p-5 { padding: 50px!important; }

.py-0 { padding-top: 0!important; padding-bottom: 0!important; }
.py-1 { padding-top: 5px!important; padding-bottom: 5px!important; }
.py-2 { padding-top: 10px!important; padding-bottom: 10px!important; }
.py-3 { padding-top: 15px!important; padding-bottom: 15px!important; }
.py-4 { padding-top: 25px!important; padding-bottom: 25px!important; }
.py-5 { padding-top: 50px!important; padding-bottom: 50px!important; }

.px-auto { padding: 0 auto!important; }
.px-0 { padding-right: 0!important; padding-left: 0!important; }
.px-1 { padding-right: 5px!important; padding-left: 5px!important; }
.px-2 { padding-right: 10px!important; padding-left: 10px!important; }
.px-3 { padding-right: 15px!important; padding-left: 15px!important; }
.px-4 { padding-right: 25px!important; padding-left: 25px!important; }
.px-5 { padding-right: 50px!important; padding-left: 50px!important; }

.pt-0 { padding-top: 0!important; }
.pt-1 { padding-top: 5px!important; }
.pt-2 { padding-top: 10px!important; }
.pt-3 { padding-top: 15px!important; }
.pt-4 { padding-top: 25px!important; }
.pt-5 { padding-top: 50px!important; }

.pl-0 { padding-left: 0!important; }
.pl-1 { padding-left: 5px!important; }
.pl-2 { padding-left: 10px!important; }
.pl-3 { padding-left: 15px!important; }
.pl-4 { padding-left: 25px!important; }
.pl-5 { padding-left: 50px!important; }

.pb-0 { padding-bottom: 0!important; }
.pb-1 { padding-bottom: 5px!important; }
.pb-2 { padding-bottom: 10px!important; }
.pb-3 { padding-bottom: 15px!important; }
.pb-4 { padding-bottom: 25px!important; }
.pb-5 { padding-bottom: 50px!important; }

.pr-0 { padding-right: 0!important; }
.pr-1 { padding-right: 5px!important; }
.pr-2 { padding-right: 10px!important; }
.pr-3 { padding-right: 15px!important; }
.pr-4 { padding-right: 25px!important; }
.pr-5 { padding-right: 50px!important; }


.row { display: flex; flex-wrap: wrap; }

.col-1 { flex: calc(1 * 100% / 12); max-width: calc(1 * 100% / 12); }
.col-2 { flex: calc(2 * 100% / 12); max-width: calc(2 * 100% / 12); }
.col-3 { flex: calc(3 * 100% / 12); max-width: calc(3 * 100% / 12); }
.col-4 { flex: calc(4 * 100% / 12); max-width: calc(4 * 100% / 12); }
.col-5 { flex: calc(5 * 100% / 12); max-width: calc(5 * 100% / 12); }
.col-6 { flex: calc(6 * 100% / 12); max-width: calc(6 * 100% / 12); }
.col-7 { flex: calc(7 * 100% / 12); max-width: calc(7 * 100% / 12); }
.col-8 { flex: calc(8 * 100% / 12); max-width: calc(8 * 100% / 12); }
.col-9 { flex: calc(9 * 100% / 12); max-width: calc(9 * 100% / 12); }
.col-10 { flex: calc(10 * 100% / 12); max-width: calc(10 * 100% / 12); }
.col-11 { flex: calc(11 * 100% / 12); max-width: calc(11 * 100% / 12); }
.col-12 { flex: calc(12 * 100% / 12); max-width: calc(12 * 100% / 12); }


/* /COMMON */


/* Mobile */

@media(max-width: 992px) {
    .wrap { max-width: 100%; margin: 0 auto; }

    .visual .texts { height: 13em; }

    /* COMMON */
    .pre-line-sm { white-space: pre-line; }
    .normal-line-sm { white-space: normal; }

    .fit-sm-cover { object-fit: cover; }
    .fit-sm-contain { object-fit: contain; }

    .float-sm-left { float: left; }
    .float-sm-right { float: right; }
    .clear-sm-both { clear: both; }

    .position-sm-absolute { position: absolute; }
    .position-sm-relative { position: relative; }
    .position-sm-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) }

    .d-sm-none { display: none; }
    .d-sm-block { display: block; }
    .d-sm-inline-block { display: inline-block; }
    .d-sm-inline-flex { display: inline-flex; }

    .d-sm-flex { display: flex; }
    .justify-content-sm-center { justify-content: center; }
    .justify-content-sm-between { justify-content: space-between; }
    .justify-content-sm-around { justify-content: space-around; }
    .align-items-sm-start { align-items: flex-start; }
    .align-items-sm-center { align-items: center; }
    .align-items-sm-end { align-items: flex-end; }

    .flex-sm-wrap { flex-wrap : wrap; }
    .flex-sm-row-reverse { flex-direction: row-reverse; }
    .flex-sm-column { flex-direction: column; }

    .flex-sm-center {
        display: flex; justify-content: center; align-items: center;
    }

    .text-sm-left { text-align: left; }
    .text-sm-center { text-align: center; }
    .text-sm-right { text-align: right; }

    .text-sm-shadow { text-shadow: 0 1px 5px #000a; }

    .border-sm { border: 1px solid; }
    .border-sm-top { border-top: 1px solid #555; }
    .border-sm-bottom { border-bottom: 1px solid #555; }
    .border-sm-left { border-left: 1px solid #555; }
    .border-sm-right { border-right: 1px solid #555; }

    .bg-sm-white { background-color: #fff; }
    .bg-sm-black { background-color: #333; }
    .bg-sm-pale-white { background-color: #fafafa; }
    .bg-sm-pale-black { background-color: #555; }
    .bg-sm-muted { background-color: #fafafa; }
    .bg-sm-blue { background-color: #2ca2d1; }
    .bg-sm-green { background-color: #2ab79f; }

    .text-sm-white { color: #fff; }
    .text-sm-black { color: #333; }
    .text-sm-pale-white { color: #fffb; }
    .text-sm-pale-black { color: #555; }
    .text-sm-muted { color: #aaa; }
    .text-sm-blue { color: #2ca2d1; }
    .text-sm-green { color: #2ab79f; }

    .border-sm-white { border-color: #fff; }
    .border-sm-black { border-color: #333; }
    .border-sm-pale-white { border-color: #e1e1e1; }
    .border-sm-pale-black { border-color: #555; }
    .border-sm-muted { border-color: #888; }
    .border-sm-blue { border-color: #2ca2d1; }
    .border-sm-green { border-color: #2ab79f; }

    .font-weight-sm-bolder { font-weight: bolder; }
    .font-weight-sm-bold { font-weight: bold; }
    .font-weight-sm-lighter { font-weight: lighter; }


    .wx-sm-30 { width: 30px; }
    .wx-sm-40 { width: 40px; }
    .wx-sm-50 { width: 50px; }
    .wx-sm-60 { width: 60px; }
    .wx-sm-80 { width: 80px; }
    .wx-sm-100 { width: 100px; }
    .wx-sm-200 { width: 200px; }
    .wx-sm-300 { width: 300px; }
    .wx-sm-400 { width: 400px; }
    .wx-sm-500 { width: 500px; }

    .hx-sm-30 { height: 30px; }
    .hx-sm-40 { height: 40px; }
    .hx-sm-50 { height: 50px; }
    .hx-sm-60 { height: 60px; }
    .hx-sm-80 { height: 80px; }
    .hx-sm-100 { height: 100px; }
    .hx-sm-150 { height: 150px; }
    .hx-sm-200 { height: 200px; }
    .hx-sm-300 { height: 300px; }
    .hx-sm-400 { height: 400px; }
    .hx-sm-500 { height: 500px; }

    .w-sm-100 { width: 100%; }
    .h-sm-100 { height: 100%; }

    .fx-sm-n4 { font-size: 0.8rem!important; }
    .fx-sm-n3 { font-size: 0.85rem!important; }
    .fx-sm-n2 { font-size: 0.9rem!important; }
    .fx-sm-n1 { font-size: 0.95rem!important; }

    .fx-sm-1 { font-size: 1rem!important; }
    .fx-sm-2 { font-size: 1.1rem!important; }
    .fx-sm-3 { font-size: 1.2rem!important; }
    .fx-sm-4 { font-size: 1.3rem!important; }
    .fx-sm-5 { font-size: 1.5rem!important; }
    .fx-sm-6 { font-size: 1.7rem!important; }
    .fx-sm-7 { font-size: 2rem!important; }
    .fx-sm-8 { font-size: 2.5rem!important; }
    .fx-sm-9 { font-size: 3rem!important; }


    .m-sm-0 { margin: 0!important; }
    .m-sm-1 { margin: 5px!important; }
    .m-sm-2 { margin: 10px!important; }
    .m-sm-3 { margin: 15px!important; }
    .m-sm-4 { margin: 25px!important; }
    .m-sm-5 { margin: 50px!important; }

    .my-sm-0 { margin-top: 0!important; margin-bottom: 0!important; }
    .my-sm-1 { margin-top: 5px!important; margin-bottom: 5px!important; }
    .my-sm-2 { margin-top: 10px!important; margin-bottom: 10px!important; }
    .my-sm-3 { margin-top: 15px!important; margin-bottom: 15px!important; }
    .my-sm-4 { margin-top: 25px!important; margin-bottom: 25px!important; }
    .my-sm-5 { margin-top: 50px!important; margin-bottom: 50px!important; }

    .mx-sm-auto { margin: 0 auto!important; }
    .mx-sm-0 { margin-right: 0!important; margin-left: 0!important; }
    .mx-sm-1 { margin-right: 5px!important; margin-left: 5px!important; }
    .mx-sm-2 { margin-right: 10px!important; margin-left: 10px!important; }
    .mx-sm-3 { margin-right: 15px!important; margin-left: 15px!important; }
    .mx-sm-4 { margin-right: 25px!important; margin-left: 25px!important; }
    .mx-sm-5 { margin-right: 50px!important; margin-left: 50px!important; }

    .mt-sm-0 { margin-top: 0!important; }
    .mt-sm-1 { margin-top: 5px!important; }
    .mt-sm-2 { margin-top: 10px!important; }
    .mt-sm-3 { margin-top: 15px!important; }
    .mt-sm-4 { margin-top: 25px!important; }
    .mt-sm-5 { margin-top: 50px!important; }

    .ml-sm-0 { margin-left: 0!important; }
    .ml-sm-1 { margin-left: 5px!important; }
    .ml-sm-2 { margin-left: 10px!important; }
    .ml-sm-3 { margin-left: 15px!important; }
    .ml-sm-4 { margin-left: 25px!important; }
    .ml-sm-5 { margin-left: 50px!important; }

    .mb-sm-0 { margin-bottom: 0!important; }
    .mb-sm-1 { margin-bottom: 5px!important; }
    .mb-sm-2 { margin-bottom: 10px!important; }
    .mb-sm-3 { margin-bottom: 15px!important; }
    .mb-sm-4 { margin-bottom: 25px!important; }
    .mb-sm-5 { margin-bottom: 50px!important; }

    .mr-sm-0 { margin-right: 0!important; }
    .mr-sm-1 { margin-right: 5px!important; }
    .mr-sm-2 { margin-right: 10px!important; }
    .mr-sm-3 { margin-right: 15px!important; }
    .mr-sm-4 { margin-right: 25px!important; }
    .mr-sm-5 { margin-right: 50px!important; }


    .p-sm-0 { padding: 0!important; }
    .p-sm-1 { padding: 5px!important; }
    .p-sm-2 { padding: 10px!important; }
    .p-sm-3 { padding: 15px!important; }
    .p-sm-4 { padding: 25px!important; }
    .p-sm-5 { padding: 50px!important; }

    .py-sm-0 { padding-top: 0!important; padding-bottom: 0!important; }
    .py-sm-1 { padding-top: 5px!important; padding-bottom: 5px!important; }
    .py-sm-2 { padding-top: 10px!important; padding-bottom: 10px!important; }
    .py-sm-3 { padding-top: 15px!important; padding-bottom: 15px!important; }
    .py-sm-4 { padding-top: 25px!important; padding-bottom: 25px!important; }
    .py-sm-5 { padding-top: 50px!important; padding-bottom: 50px!important; }

    .px-sm-auto { padding: 0 auto!important; }
    .px-sm-0 { padding-right: 0!important; padding-left: 0!important; }
    .px-sm-1 { padding-right: 5px!important; padding-left: 5px!important; }
    .px-sm-2 { padding-right: 10px!important; padding-left: 10px!important; }
    .px-sm-3 { padding-right: 15px!important; padding-left: 15px!important; }
    .px-sm-4 { padding-right: 25px!important; padding-left: 25px!important; }
    .px-sm-5 { padding-right: 50px!important; padding-left: 50px!important; }

    .pt-sm-0 { padding-top: 0!important; }
    .pt-sm-1 { padding-top: 5px!important; }
    .pt-sm-2 { padding-top: 10px!important; }
    .pt-sm-3 { padding-top: 15px!important; }
    .pt-sm-4 { padding-top: 25px!important; }
    .pt-sm-5 { padding-top: 50px!important; }

    .pl-sm-0 { padding-left: 0!important; }
    .pl-sm-1 { padding-left: 5px!important; }
    .pl-sm-2 { padding-left: 10px!important; }
    .pl-sm-3 { padding-left: 15px!important; }
    .pl-sm-4 { padding-left: 25px!important; }
    .pl-sm-5 { padding-left: 50px!important; }

    .pb-sm-0 { padding-bottom: 0!important; }
    .pb-sm-1 { padding-bottom: 5px!important; }
    .pb-sm-2 { padding-bottom: 10px!important; }
    .pb-sm-3 { padding-bottom: 15px!important; }
    .pb-sm-4 { padding-bottom: 25px!important; }
    .pb-sm-5 { padding-bottom: 50px!important; }

    .pr-sm-0 { padding-right: 0!important; }
    .pr-sm-1 { padding-right: 5px!important; }
    .pr-sm-2 { padding-right: 10px!important; }
    .pr-sm-3 { padding-right: 15px!important; }
    .pr-sm-4 { padding-right: 25px!important; }
    .pr-sm-5 { padding-right: 50px!important; }


    .row-sm { display: flex; flex-wrap: wrap; }

    .col-sm-1 { flex: calc(1 * 100% / 12); max-width: calc(1 * 100% / 12); }
    .col-sm-2 { flex: calc(2 * 100% / 12); max-width: calc(2 * 100% / 12); }
    .col-sm-3 { flex: calc(3 * 100% / 12); max-width: calc(3 * 100% / 12); }
    .col-sm-4 { flex: calc(4 * 100% / 12); max-width: calc(4 * 100% / 12); }
    .col-sm-5 { flex: calc(5 * 100% / 12); max-width: calc(5 * 100% / 12); }
    .col-sm-6 { flex: calc(6 * 100% / 12); max-width: calc(6 * 100% / 12); }
    .col-sm-7 { flex: calc(7 * 100% / 12); max-width: calc(7 * 100% / 12); }
    .col-sm-8 { flex: calc(8 * 100% / 12); max-width: calc(8 * 100% / 12); }
    .col-sm-9 { flex: calc(9 * 100% / 12); max-width: calc(9 * 100% / 12); }
    .col-sm-10 { flex: calc(10 * 100% / 12); max-width: calc(10 * 100% / 12); }
    .col-sm-11 { flex: calc(11 * 100% / 12); max-width: calc(11 * 100% / 12); }
    .col-sm-12 { flex: calc(12 * 100% / 12); max-width: calc(12 * 100% / 12); }


    /* /COMMON */
}